.matchContainer {
  background-color: #1e293b;
  border-radius: 10px;
  margin: 10px;
  list-style-type: none;
  height: 300px;
  width: 300px;
}
.firstContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.compTeamIm {
  height: 80px;
  width: 80px;
  padding-top: 10px;
}

.para1 {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Bree serif';
  color: #ffffff;
}
.result {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Bree serif';
  color: #18ed66;
}

.green {
  color: #18ed66;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Bree serif';
}

.red {
  color: #e31a1a;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Bree serif';
}

.para {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Bree serif';
  color: #ffffff;
}
