.teamMatchesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teamBannerContainer {
  margin-left: 100px;
}
.unordered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.teamBannerImg {
  padding-left: 20px;
  width: 90%;
}

.SH {
  background-color: #f26d22;
}
.RCB {
  background-color: #a4261d;
}
.KKR {
  background-color: #5755a7;
}
.KXP {
  background-color: #d91c1f;
}
.CSK {
  background-color: #f7db00;
}
.RR {
  background-color: #da237b;
}
.MI {
  background-color: #13418b;
}
.DC {
  background-color: #4f5db0;
}
